# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build Solution
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET 7 SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run Publish Script
      run: cd scripts && ./publish.sh
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: DayZLauncher-UnixPatcher
        path: "./unixpatcher.tar.xz"
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: DayZLauncher-UnixPatcher-Musl
        path: "./unixpatcher-musl.tar.xz"

  release:
    name: Upload Release Assets
    runs-on: ubuntu-latest
    steps:
    - name: Download release
      uses: actions/download-artifact@v4
      with:
        name: DayZLauncher-UnixPatcher
    - name: Download release-musl
      uses: actions/download-artifact@v4
      with:
        name: DayZLauncher-UnixPatcher-Musl
    - name: Generate release tag
      id: generate_release_tag
      uses: alexvingg/next-release-tag@v1.0.4
      with:
        github_token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
        tag_prefix: ''
    - name: Release with Notes
      uses: softprops/action-gh-release@v1
      with:
        files: |
          unixpatcher.tar.xz
          unixpatcher-musl.tar.xz
        body_path: CHANGELOG.txt
        tag_name: ${{ steps.generate_release_tag.outputs.release_tag }}
        release_name: Release ${{ steps.generate_release_tag.outputs.release_tag }}
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
